.inspo-container {
  background-color: #3a3a3a;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspo-title {
  font-size: 1.8rem;
  text-align: center;
  color: #F2d8d8;
  margin-top: 40px;
}

.inspo-grid {
  display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 40px;
}

.inspo-card {
  width: 100%;
  min-width:250px ;
  max-width: 250px;
  height: 250px;
  background-color: #ccc; 
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out;
}

.lazy-bg {
  background-image: none; 
}

.inspo-card[data-bg] {
  opacity: 1;
}

@media (max-width: 768px) {
  .inspo-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .inspo-grid {
      grid-template-columns: repeat(1, 1fr);
  }
}
